h1{
    font-size: 25px;
}
input, button{
    outline: none;
    padding: 5px 15px;
    border-radius: 5px;
    background-color: #FFF;
    border: 1px solid #2d8cf0;
    margin-right: 20px;
    margin-bottom: 20px;
}
button{
    cursor: pointer;
    background-color: #2d8cf0;
    color: #fff;
}